<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Css1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <!-- Logo -->
        <div class="logo">
            <!-- <i class="fa-solid fa-pen-to-square"></i> -->
            <div class="iconlogo"><i class="fa-solid fa-pen-to-square"></i></div>
            <h1>Mastery</h1>
        </div>
        <div class="menu">
            <li>Home</li>
            <li>About</li>
            <li>Service</li>
            <li>Contact</li>
        </div>

    </header>
    <main>
        <!-- banner -->
        <div class="banner">
            <img src="../img/2.jpg" alt="">
        </div>
        <div class="wellcome">
            <div>
                <h1>Welcome To Our Campus</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem praesentium voluptates omnis
                    nesciunt. Expedita praesentium dolor natus! Omnis sequi optio, iusto nam rerum voluptatibus nisi ex
                    necessitatibus. Adipisci, blanditiis sequi.
                </p>
                <p>
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit Nemo, perspiciatis accusantium amet facere
                    aspernatur sequi.
                </p>

                <button><a href="https://www.youtube.com/watch?v=rGw0mzuTtLM&list=RDMMrGw0mzuTtLM&start_radio=1" target="_blank">Read More</a></button>
            </div>
            <div>
                <img src="../img/g1.jpg" alt="">
            </div>
            <!-- number -->
        </div>
        <div class="number">
            <div class="box">
                <h1>60</h1>
                <div class="text">
                    <p >
                        PROFESSIONAL
                    </p>
                    <p class="text2">INSTRUCTORS</p>
                </div>

            </div>
            <div class="box">
                <h1>18</h1>
                <div class="text">
                    <p >
                        PROFESSIONAL
                    </p>
                    <p class="text2">INSTRUCTORS</p>
                </div>
            </div>
            <div class="box">
                <h1>34</h1>
                <div class="text">
                    <p >
                        PROFESSIONAL
                    </p>
                    <p class="text2">INSTRUCTORS</p>
                </div>
            </div>
            <div class="box">
                <h1>20</h1>
                <div class="text">
                    <p >
                        PROFESSIONAL
                    </p>
                    <p class="text2">INSTRUCTORS</p>
                </div>
            </div>

        </div>
        <div class="icon">
            <h1>
                <i class="fa-solid fa-person"></i>
                <p>Socioligy</p>
            </h1>
            <h1>
                <i class="fa-solid fa-suitcase"></i>
                <p>Business</p>
            </h1>
            <h1>
                <i class="fa-solid fa-code"></i>
                <p>Wed Dev</p>
            </h1>
            <h1>
                <i class="fa-solid fa-flask"></i>
                <p>Sciene</p>
            </h1>
            <h1>
                <i class="fa-solid fa-money-bill-1"></i>
                <p>Ecomomics</p>
            </h1>
            <h1>
                <i class="fa-solid fa-layer-group"></i>
                <p>Biology</p>
            </h1>
            <h1>
                <i class="fa-solid fa-desktop"></i>
                <p>Computing</p>
            </h1>
            <h1>
                <i class="fa-solid fa-arrow-pointer"></i>
                <p>Wed Design</p>
            </h1>


        </div>
        <div class="event">
            <div class="event1">
                <h1>Latest Post</h1>
                <div class="summer">
                    <div class="box">
                        <div class="img">
                            <img src="../img/g7.jpg" alt="">
                        </div>
                        <div class="content">
                            <h1>Summer Course Start</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="event2">Upcoming Events</div>

        </div>
    </main>
</body>

</html>