.carousel {


    .carousel-item {


        .carousel-inner{
.carousel-item{


    img{
        object-fit: cover;
     }
}
           
        }
      
    }
}
img {
    width: 100%;
    height: 100%;
}