*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box{
    padding: 40px ;
    margin-top: 40px;
    width: 80%;
    background-color: black;
    animation: doimau 5s infinite;
}


    

   
    

h1{
    
    font-size: 50px;
    animation: text1 3s infinite;
  
}
@keyframes text1 {
    0%{
        color: blue;
    }
    25%{
        color: rgb(183, 226, 30);
    }
    75%{
        color: rgb(231, 22, 22);
    }
    100%{
        color: rgb(231, 22, 193);
    }
}

